<div style="height: 100vh; background-color: lightcoral" fxFlex="100" fxLayout="row">
    <div
      fxFlex="70"
      fxFlexOffset="15"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlex.lt-lg="100"
      fxFlexOffset.lt-lg="0"
      style="border: solid thin #000000;">
        <ng-content></ng-content>
    </div>
</div>
