<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh;background-color: lightblue;">
  <div fxLayout="row wrap">
    <app-flex-layout-wrapper style="width: 100%;">
      content here
    </app-flex-layout-wrapper>
  </div>
</div>